@function rem($px) {
    @return $px / 16px + 0rem;
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
      @content;
    }
  }
  
  @mixin phones {
    @media screen and (max-width: $phones) {
      @content;
    }
  }

@mixin burger {
    position: absolute;
    width: rem(24px);
    height: rem(4px);
    background-color: #fff;
    border-radius: rem(10px);
}