.contacts-section {
    background: url(../img/map.jpg) center center / cover no-repeat;
    position: relative;
}

.contacts__footer {
    width: 100%;
    height: rem(60px);
    background-color:#000;
    background: url(../img/texture-footer.jpg) center center / cover no-repeat;
    position: absolute;
    bottom: 0;

    @include phones {
        height: rem(116px);
    }
}

.center-block {
    width: 85%;
    margin: 0 auto;    
    height: 100%;
    display: flex;

    @include phones {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contacts__info {    
    height: 100%;
    width: 50%;
    color: #fff;
    font-family: Ubuntu;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    padding-top: rem(5px);

    @include phones {
        width: 100%;
        text-align: center;
    }
}

.contacts__social {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include phones {
        width: rem(142px);
    }
}

.address {
    font-family: "Ubuntu-Light";
    font-weight: 300;
}

.phone-number {
    display: flex;
    align-items: center;
}

.phone-icon {
    margin-right: rem(5px);
}

.number {
    color: $red;
    font-family: "Ubuntu-Bold";
}

.social__link {
    margin-left: rem(20px);
    opacity: 0.3;

    &:first-child {
        margin: 0;
    }

    &:hover {
        opacity: 1;
    }
}