.form-section {
    background: url(../img/texture-form.jpg) center center / cover no-repeat;
    padding-top: rem(125px);

    @include tablets {
        padding-top: rem(150px);
    }

    @include phones {
        padding-top: rem(67px);
    }
}

.form__title {
    color: $yellow;
    margin-bottom: rem(40px);
    text-align: center;

    @include tablets {
        margin-bottom: rem(70px);
    }

    @include phones {
        font-size: rem(50px);
        margin-bottom: rem(30px);
    }
}

.form__container {
    display: flex;

    @include tablets {
        margin: 0 rem(130px);
    }

    @include phones {
        margin: 0;
    }

}

.form__elem {
    display: flex;

    @include tablets {
        flex-direction: column;
    }
}

.form-content {
    width: 48%;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;

        @include phones {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @include tablets {
        width: 100%;
        margin-right: 0;

        &:first-child {
            margin-bottom: rem(20px);
        }
    }

}

.form-row {
    display: flex;
    margin-bottom: rem(15px);
    width: 100%;

    &:last-child {
        margin-bottom: 0;
        
    }

    &--radio {
        margin-bottom: rem(25px);

        @include phones {
            display: flex;
            align-content: center;
        }
    }

    @include tablets {
        margin-bottom: rem(30px);
    }
}

.form__label {
    margin-right: rem(20px);
    width: 100%;

    &:last-child{
        margin-right: 0;
    }

    &--checkbox,
    &--radio {
        display: flex;
        margin-right: 0;
        position: relative;
    }

    &--floor {

        @include phones {
            display: none;
        }
    }

    &--third {
        
        @include phones {
            margin-right: 0;
        }

    }
}

.form__label-title {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);

    &--radio {
        line-height: rem(12px);
        margin-left: rem(25px);
    }
}

.form__input {
    height: rem(34px);
    border: rem(1px) solid #d1cfcb;
    border-radius: rem(5px);
    width: 100%;

    &--comment {
        height: rem(110px);
    }

    &:active {
        border: rem(1px) solid $yellow;
    }
}

.form__radio + div::before {
    content: "";
    position: absolute;
    width: rem(13px);
    height: rem(13px);
    background-color: #fff;
    border-radius: rem(10px);
    border: rem(1px) solid #d1cfcb;  
    left: 0;
}

.form__radio:checked + div::before {
    width: rem(7px);
    height: rem(7px);
    background-color: $red;
    border-radius: rem(10px);
    border: rem(4px) solid #fff;
}

.form__checkbox + div::before {
    content: "";
    position: absolute;
    width: rem(12px);
    height: rem(12px);
    left: 0;
    border: rem(1px) solid #d1cfcb;  
    background-color: #fff;
}

.form__checkbox:checked + div::before {
    background-image: url(../img/check.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: rem(1px);
    height: rem(1px);
}


