.red-button {
    color: #fff;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $red;
    margin: 0;
    padding: 12px 15px;
    border-radius: 10%;
    border: none;
}