.red-button {
    color: #fff;
    font-family: Ubuntu;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    background-color: $red;
    margin: 0 0 0 rem(30px);
    padding: rem(12px) rem(15px);
    border-radius: 10%;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: darken($red, 10%);
    }

    &:active {
        color: darken(#fff, 10%);
    }
}