.team-section {
    position: relative;
    background: url(../img/team.jpg) center center / cover no-repeat;
    text-align: center;
}

.team-container {
    background-color: $dark-gray;
    opacity: 0.93;
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: rem(90px);
    box-sizing: border-box;
    padding-left: rem(100px);

    @include tablets {
        left: 0;
        width: 100%;
        padding-left: 0;
        padding-top: rem(220px);
    }
}

.team__list {

    @include tablets {
        max-width: rem(330px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.team__item {
    margin-bottom: rem(30px);

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.team__title {
    color: $yellow;
    margin-bottom: rem(46px);

    @include phones {
        font-size: rem(50px);
    }
}

.team__member {
    display: flex;
    box-sizing: border-box;
    margin-bottom: rem(10px);
}

.arrow {
    margin-right: rem(10px);
    margin-top: rem(5px);
}

.team__member-name {
    font-size: rem(14px);
    color: #fff;

    @include tablets {
        font-size: rem(24px);
    }

    @include phones {
        font-size: rem(24px);
    }
}

.team__member-info {
    display: flex;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.member__info-block {
    color: #fff;
    font-size: rem(14px);
    line-height: rem(24.01px);
    padding-left: rem(20px);
    width: 40%;

    @include tablets {
        width: 100%;
    }
}

.team__member-img {
    border-radius: 50%;

    @include tablets {
        max-width: rem(100px);
    }
}

.team__member-function {
    font-family: "Ubuntu-Bold";
    font-weight: 700;
    margin-bottom: rem(5px);
}

.team__member-text {
    font-family: "Ubuntu-Light";
    font-weight: 300;
}

.hidden {
    display: none;
}

.active {
    h3 {
        color: $yellow;
    }
    svg {
        transform: rotate(180deg);
    }
}